<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="First">
            <span aria-hidden="true"><<</span>
        </a>
    </li>
    {% if page_obj.has_previous and page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}"><b>{{ page_obj.number }}</b></a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
    {% elif not page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}"><b>{{ page_obj.number }}</b></a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
    {% elif not page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}"><b>{{ page_obj.number }}</b></a></li>
    {% endif %}

    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
        <span aria-hidden="true">>></span>
      </a>
    </li>
  </ul>
</nav>