{% extends 'base.html' %}

{% block title %}
	Product
{% endblock %}

{% block content %}
	<div class="container d-flex justify-content-center">
        <img src="{{ product.image }}" alt="alt">

        <div class="d-flex flex-column align-items-center">
            <h2>{{ product.title }}</h2>
            <p>{{ product.description }}</p>
            <p>{{ product.category }}</p>
            <p><b>Count: </b>{{ product.count }}</p>
            <p><b>Price: {{ product.price }}$</b></p>

            <div class="d-flex justify-content-around">
                <a class="btn btn-primary" href="{% url 'edit_product' product.pk %}" role="button">Edit</a>
                <a class="btn btn-danger confirm" href="{% url 'delete_product' product.pk %}" role="button">Delete</a>
            </div>
        </div>
    </div>
{% endblock %}